
test
<% if defined? nodes%>
it is defined
<% else %>
not defined
<% end %>

didthat work?
<% if local_assigns.has_key?(:nodes) %>

  <% else %>
    No Nodes
<% end %>
  <table>
    <% if nodes %>
  <% nodes.each do |target| %>
  <tr><td><%= target.name %></td>
  <td><%= target.address %></td>
  <td><%= target.description %></td></tr>
  <% end %>
  <% else %>
  <tr><td>None</td><tr>
  <% end %>
</table>
