
<div class="table-style">
  <table class="table table-hover">

    <tr>
      <th align="left">System</th>
      <th align="left">Address</th>
      <th align="left">Description</th>
    </tr>
    <% if nodes %>
  <% nodes.each do |target| %>

  <tr>
    <td><%= target.name %></td>
    <td><%= target.address %></td>
    <td><%= target.description %></td>
  </tr>
  <% end %>
  <% else %>
  <tr><td>None</td><tr>
  <% end %>
</table>
</div>
