/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.navbar {
  background-color: #192b47;
}

body {
  background-color: #eaeff2;
}

footer {
  color: white;
  background-color: #192b47;
  height: 150px;
  padding: 30px;
  margin-top: 40px;
}

a:hover {
  text-decoration: none;
  color: #93b1e2;
}

.navbar a {
  color: white;
}

button a {
  color: white;
}

button a:hover {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #93b1e2;
}

input[type="submit"] {
  background-color: inherit;
  border: none;
}

.btn-info {
  margin-top: 15px;
  margin-bottom: 20px;
  color: white;
}

table>tbody>tr:last-child {
  border-bottom: 1px solid #ddd;
}

.col-md-12 {
  padding: 10px;
  background-color: white;
  margin-bottom: 40px;
}

.page {
  margin-bottom: 20px;
  box-shadow: 5px 10px 40px #888888;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.break {
  background-color: #192b47;
  height: 1px;
  width: 90%;
  align-self: center;
}
